# ============================================
# Netbeans:
/nbproject/

# ============================================
# PhpStorm:
/.idea/

# ============================================
# Python:
*.pyc
__pycache__

dist/
*.egg-info/

# ============================================
# Other:
/testingfolder/
/testingfile.py
